$textColor: #686978;
$thickWords: #484A4D;
$demoColor: #F37327;
$wholeColor: #E0ECF5;
$smallGlory: #292929;
$white: #FFFFFF;
$red: #ff0000;
$blueColor:#377DFF;
$brownColor:#C8C8C8;
$selectFontColor:#404040;
$architect-bold: #212121;
$dataColor:#ACACAC;
$img:"../src/preloader/images/_primitives/img.png"
//$selectHoverColor:#F5F6FA;



