@import "public/assets/variables";

.title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 28px !important;
  width: 450px;
  margin: 10px 0 !important;
}
.input {
  margin: 40px auto !important;
  max-width: 420px;
  width: 100%;
  border: #acacac !important;
  border-radius: 12px;
}
.button {
  border-radius: 12px !important;
  background-color: $demoColor !important;
  height: 50px;
  max-width: 420px;
  width: 100%;
  margin-left: 40px !important;
  margin-bottom: 50px !important;
}
.img {
  margin-left: 40%;
  margin-bottom: 15px;
  width: 15%;
}
.error {
  color: red;
  margin-left: 40%;
  margin-bottom: 15px;
}
